<button (click)="goProduct()" style="width: 100px; height: 30px; background-color: #009dff;">返回</button>
<div class="container">


  <div class="button-area">
    <button (click)="selectAll()">一鍵全選</button>
    <button (click)="deleteAll()">一鍵清空</button>
  </div>

  <form [formGroup]="form1">

    <div class="list-area">
      <div class="list" *ngFor="let item of cartProduct ; let i = index">
        <mat-checkbox formControlName="check" (ngModelChange)="take($event.checked,item)"></mat-checkbox>
        <p>{{item.productName}}</p>
        <div class="number-button-area">
          <button (click)="minus(item)">-</button>
          <div (ngModel)="item.productCount" class="number-show">{{item.productCount}}</div>
          <button (click)="add(item)">+</button>
        </div>
      </div>
    </div>


    <div class="coupon-select">
      <mat-label>Choose coupon</mat-label>
      <mat-select formControlName="couponId" (selectionChange)="contentChange()">
        <mat-option *ngFor="let item of items" [value]="item">{{item.couponDesc}}</mat-option>
      </mat-select>
    </div>

    <p style="margin: 10px;">總金額 : {{showPrice}}</p>

    <button (click)="goCheckOut()" class="buy-button">結帳</button>
  </form>
</div>





