<div class="container">


  <div class="button-area">
    <button (click)="selectAll()" >一鍵全選</button>
    <button (click)="deleteAll()">一鍵清空</button>
  </div>

  <div class="list-area">
    <mat-checkbox>text</mat-checkbox>
  </div >

    <div class="list">
      <mat-checkbox></mat-checkbox>
      <p>productName</p>
      <div class="number-button-area">
        <button (click)="minus()">-</button>
        <div (ngModel)="showNumber" class="number-show">{{showNumber}}</div>
        <button (click)="add()">+</button>
      </div>
    </div>


</div>

<div *ngFor="let item of cartProduct ; let i = index">
  {{item.productId}}
  <mat-checkbox (change)="take($event.checked,item)" [checked] = "checkOn"  >text</mat-checkbox>
</div>

<button (click)="showCart()">購買</button>
  </div>
  <div class="coupon-select">
    <mat-label>Choose coupon</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of items" value="option1">{{item}}</mat-option>
    </mat-select>
  </div>
  <button class="buy-button">結帳</button>
</div>